/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    background-image: url("./assets/imgs/bgdesktop.jpg");
}
.container-info {
    position: relative;

    width: 400px;
    text-align: center;
}

.container-info img {
    width: 100%;
    border-radius: 20px;
}
.info-logo {
    position: absolute;
    top: -20%;
    left: 50px;
    width: 300px;
}
.info-logo img {
    width: 100%;
}
.info-time {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.info-time .time {
    display: flex;
    gap: 5px;
}

.bt-play,
.bt-play-mob {
    background-color: #fef431;
    font-size: 20px;
    padding: 8px 32px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #fff;
}
.container-info-mobile {
    display: none;
}
.info-score {
    display: flex;
    gap: 5px;
}

.info-text {
    color: #fff;
}

.container-text {
    position: absolute;
    text-align: center;
}
.pCheck {
    display: none;
}
.content-cupon {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 16px;
    margin: 5px auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    font-size: 16px;
    border-radius: 6px;
}
.content-cupon{
    display: none;
}
@media (min-width: 930px) {
    .container-text {
        top: 0;
        left: 0;

        right: 0;
        margin-top: 40px;
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 930px) {
    body {
        flex-direction: column;
    }
    .container-info {
        display: none;
    }
    .container-info-mobile {
        display: block;
        width: 100%;
    }
    .info-logo {
        position: relative;
        margin: 0 auto;
        top: 0;
        left: 0;
        margin-bottom: 24px;
        z-index: 20;
    }
    .info-time {
        width: 416px;
        margin: 0 auto;
    }
    .overlay-info {
        position: absolute;
        background-color: #0000007a;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
    }
    .overlay-info .info-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .overlay-info img {
        border-radius: 20px;
    }
    .container-text {
        width: 300px;
    }

    .container-text {
    }
}

@media (max-width: 600px) {
    .overlay-info img {
        width: 86%;
    }
}

@media (max-width: 480px) {
    canvas {
    }
    .info-time {
        width: 85%;
    }
}
